<% layout('/layouts/boilerplate') %>

<section class="card shadow p-3 mb-3 bg-body rounded">
    <h2>
        <a href="/post/<%= post._id %>" class="title">
            <%= post.title %>
        </a>
    </h2>
    <hr>
    <article class="description m-3 card-body">
        <%- post.description %>
    </article>
    <div class="m-3">
        <form action="/post/<%= post._id %>?_method=DELETE" method="POST" class="d-inline m-3">
            <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        
        <a href="/post/update/<%= post._id %>" class="btn btn-primary">Update</a> 
    </div>
    <hr>
    <div class="description text-muted container cardFooter">
        <div class="row">
            <div class="col-sm">Modified at <%= post.updatedAt.toDateString() %></div>
            <div class="col-sm">Created at <%= post.createdAt.toDateString() %></div>
        </div>         
    </div>
</section>